@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background: #020617;
}

body {
  margin: 0;
  background: #020617;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
